.container-fluid   {
    background-color:lightcoral
    }
html{
    background-color: lightpink;
    }
body{
    background-color: lightpink;
    }
.navbar{
    background-color: lightpink;
    }
.navbar-expand-lg{
    background-color: lightpink;
    }
.navbar.bg-body-tertiary{
    background-color: lightpink;
    }
.navbar-expand-lg{
    background-color: lightpink;
    }
.bg-body-tertiary{
    background-color: lightpink;
    }
    
